* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #000;
    padding: 16rem 11.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    gap: .8rem;
}

.search input {
    padding: 1.6rem;
    border-radius: .5rem;
    background: #06181C;
    width: 46.2rem;
    border: none;
    color: hsla(240, 6%, 51%, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.search button {
    display: flex;
    gap: .8rem;
    padding: 1.2rem 3.2rem;
    align-items: center;
    border-radius: .5rem;
    background: #065E7C;
    border: none;
    cursor: pointer;
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-transform: uppercase;
}

table {
    margin-top: 8.7rem;
    width: 100%;
    border-collapse: collapse;
    border-radius: 1.2rem;
    border: 1px solid #4A808C;
}

table th {
    padding: 1.6rem 4rem;
    background: hsla(194, 72%, 13%, 1);
    text-align: left;
    color: hsla(240, 9%, 89%, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.2rem;
}

table tr:nth-child(odd) {
    background: hsla(195, 61%, 6%, 0.5);
}

table tr:nth-child(even) {
    background: hsla(192, 65%, 7%, 1);
}

table td {
    padding: 2.4rem 4rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: hsla(240, 9%, 89%, 1);
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    font-family: 'Roboto', sans-serif;
    color: hsla(240, 9%, 89%, 1);
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    background: none;
    border: none;
    color: hsla(355, 91%, 66%, 1);
    cursor: pointer;
}